<div class="container">
  <h1>{{this.Name}}</h1>
  <hr />
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Address:</div>
        {{Address}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Location:</div>
        {{Location}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Price:</div>
        {{Price}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Cuisine:</div>
        {{Cuisine}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Phone Number:</div>
        {{PhoneNumber}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Website:</div>
        {{WebsiteUrl}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Award:</div>
        {{Award}}
      </div>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Facilities and Services:</div>
        {{FacilitiesAndServices}}
      </div>
    </li>
  </ul>
  <br>
  <a href="/restaurants/{{_id}}/review" type="button" class="btn btn-dark" style="background-color: #0a4275;"
    text="white">Review</a>
  <br>
  <hr>
</div>
<div class="container text-center">
  <div class="row">
    {{#each Review}}
    <div class="product col-12 col-md-4 mb-4 p-3 shadow bg-white rounded">   
      <div class="product h-100">
        <div class="product-header h-100">
          <h4>{{title}}</h4>
          <div class="product-body h-100">
            <h5 class="product-title text-center">Reviewed by: {{username.username}}</h5>
            <p class="product-text text-center">{{comment}}</p>
            <p class="product-text text-center">Rating: {{rating}}</p>
            <a href="/restaurants/reviews/{{_id}}" type="button text center" class="btn btn-dark"
              style="background-color: #0a4275;">Edit Review</a>
            <form action="/restaurants/reviews/{{_id}}/delete" method="POST">
              <button class="btn btn-dark" style="background-color: #0a4275;">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>