<h1>{{this.Name}}</h1>

<hr />

<h3>Address:</h3>
<p>{{Address}}</p>

<h3>Price:</h3>
<p>{{Price}}</p>

<h3>Cuisine:</h3>
<p>{{Cuisine}}</p>

{{#each Review}}
   <div>
    <p>{{this.title}}</p>
    <p>{{this.username}}</p>
    <p>{{this.comment}}</p>
    </div>
{{/each}}
<a href="/restaurants/{{_id}}/review">CLICK TO REVIEW</a>


