<div class='container-fluid text-center ml-0'>
	<div class='row'>
		{{#each this}}
			<div class='card width 100 col-12 col-md-3'>
				<div class='card-body'>
					<h4 class='card-title'>{{Name}}</h4>
					<h5 class='card-title'>{{Award}}</h5>
					<h6 class='card-subtitle mb-2 text-body-secondary'>Cusine:
						{{Cuisine}}</h6>
					<p class='card-text'>Price: {{Location}}</p>
					<p class='card-text'>Location: {{Location}}</p>
					<a href='/restaurants/{{_id}}' class='card-link'>More Details</a>
					<a href='{{WebsiteUrl}}' class='card-link'>Official Website</a>
				</div>
			</div>
		{{/each}}
	</div>
</div>