{{#each this}}
	<ul class='list-group list-group-flush'>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Address:</div>
				{{Address}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Location:</div>
				{{Location}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Price:</div>
				{{Price}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Cuisine:</div>
				{{Cuisine}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Phone Number:</div>
				{{PhoneNumber}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Website:</div>
				{{WebsiteUrl}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Award:</div>
				{{Award}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Facilities and Services:</div>
				{{FacilitiesAndServices}}
			</div>
		</li>
		<li
			class='list-group-item d-flex justify-content-between align-items-start'
		>
			<div class='ms-2 me-auto'>
				<div class='fw-bold'>Cuisine:</div>
				{{Cuisine}}
			</div>
		</li>
	</ul>
{{/each}}